.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-1 {
    background-color: aqua;
    outline: 1px solid #ff0000;
    outline-style: dashed;
    height: 100px;
    width: 200px;
    margin-bottom: 15px;
}
.block-2 {
    background-color: yellow;
    outline: 1px solid #ff0000;
    outline-style: dotted;
    height: 100px;
    width: 200px;
    margin-bottom: 35px;
}
.block-3 {
    background-color: aqua;
    outline: 20px solid #0000ab;
    outline-style: inset;
    height: 100px;
    width: 200px;
    margin-bottom: 35px;
}
.block-4 {
    background-color: aqua;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 10px;
    height: 100px;
    width: 200px;
    margin-bottom: 15px;
}