.container {
    width: 1140px;
    margin: 0 auto;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    
}
html {
    background-image: url('https://banner2.kisspng.com/20180305/cpe/kisspng-grey-pattern-continental-light-gray-background-shading-5a9cfd9b941b12.9390720115202379796067.jpg')
}
h1 {
    color: #d2d2d2;
    font-size: 60px;
    text-align: center;
}
.container1 {
    text-align: center;
}
.ridge {
    border-style: ridge;
    padding: 5px;
}
p.border {
    border-left: 3px solid red;
    padding: 15px;
}
h3 {
    text-align: center;
}
.form {
    background: lawngreen;
    text-align: center;
    
}