* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    min-height: 100vh;
    background-color: bisque;
    margin: 0 auto;
}
.header {
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.main {
    min-height: 300px;
    margin-top: 50px;
    background-color: deeppink;
    color: white;
}
.logo {
    width: 20%;
    height: inherit;
    background-color: lightsteelblue;
}
.menu {
    width: 60%;
    height: inherit;
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-item {
    list-style-type: none;
    width: 120px;
    height: 30px;
}
.menu-link {
    display: block;
    
    background-color: white;
    color: lightgreen;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}