* {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
}
.wrapper {
    height: 643px;
    width: 670px;
    outline: 2px solid #000000;
    margin: auto;
    margin-top: 5px;
}
.container {
    width: 670px;
}
.header-block {
    background-color: antiquewhite;
    margin: auto;
    padding: 35px;
}
.header-average-block {
    width: 535px;
    background-color: darkgoldenrod;
    margin: auto;
    padding: 15px;
    display: flex;
}
.header-min-block {
    width: 215px;
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
}
.menu {
    margin: auto;
}
.block-menu-1 {
    height: 100px;
    width: 134px;
    background-color: aquamarine;
    float: left;
}
.block-menu-2 {
    height: 100px;
    width: 134px;
    background-color: dodgerblue;
    float: left;
}
.block-menu-3 {
    height: 100px;
    width: 134px;
    background-color: yellow;
    float: left;
}
.block-menu-4 {
    height: 100px;
    width: 134px;
    background-color: coral;
    float: left;
}
.block-menu-5 {
    height: 100px;
    width: 134px;
    background-color: darkviolet;
    float: left;
}
.content {
    margin: auto;
}
.block-content {
    height: 300px;
    width: 223.3px;
    background-color: green;
    float: left;
}
.block-content-2 {
    height: 300px;
    width: 223.3px;
    background-color: white;
    float: left;
}
.block-1-top {
    height: 65px;
    width: 135px;
    background-color: gray;
    margin: 10px 43px;
    float: left;
}
.block-1-bottom {
    margin-top: 10px;
    margin-left: 55px;
    float: left;
}
.block-1-bottom-top {
    width: 110px;
    height: 70px;
    background-color: red;
    float: left;
}
.block-1-bottom-bottom {
    float: left;
}
.block-1-bottom-bottom-left {
    height: 135px;
    width: 55px;
    background-color: coral;
    float: left;
}
.block-1-bottom-bottom-right {
    height: 135px;
    width: 55px;
    background-color: khaki;
    float: left;
}
.A {
    width: 223.3px;
    height: 34px;
    background-color: #008080;
}
.b {
    display: inline;
    float: left;
}
.B {
    width: 74px;
    height: 174px;
    background-color: #66cdaa;
    float: left;
}
.B1 {
    height: 200px;
    width: 37px;
    background-color: #a52a2a;
    float: left;
    margin-left: -74px;
    margin-top: 66px;
}
.B2 {
    height: 100px;
    width: 37px;
    background-color: #adff2f;
    float: left;
    margin-top: 166px;
    margin-left: -37px;
    
}
.C {
    display: inline;
    float: left;
}
.C1 {
    height: 66px;
    width: 75px;
    background-color: #add8e6;
}
.C2 {
    height: 66px;
    width: 75px;
    background-color: #00008b;
}
.C3 {
    height: 66px;
    width: 75px;
    background-color: #8b008b;
}
.C4 {
    height: 68px;
    width: 37.5px;
    background-color: #fdf5e6;
    float: left;
}
.C5 {
    height: 68px;
    width: 37.5px;
    background-color: #fa8072;
    float: left;
}
.d {
    display: inline;
    float: left;
}
.D {
    height: 66px;
    width: 74.3px;
    background-color: #40e0d0;
}
.D1 {
    height: 66px;
    width: 74.3px;
    background-color: #008080;
}
.D3 {
    height: 134px;
    width: 74.3px;
    background-color: #ffdead;
}
.img {
    margin: 24px; 
}
.block-content-3 {
    height: 300px;
    width: 223.3px;
    background-color: gray;
    float: left;
}
.block-content3-1 {
    width: 74.4px;
    height: 34px;
    background-color: #8fbc8f;
    float: left;
}
.block-content3-2 {
    width: 74.4px;
    height: 34px;
    background-color: #da70d6;
    float: left;
}
.block-content3-3 {
    width: 74.4px;
    height: 34px;
    background-color: #ff7f50;
    float: left;
}
.block-content3-4 {
    width: 223.3px;
    height: 50px;
    background-color: #faf0e6;
    margin-top: 34px;
    position: relative;
    padding-top: 13px;
    padding-left: 66px;
}
.block-content3-5 {
    width: 89px;
    height: 23px;
    background-color: #ff0000;
    position: absolute;
    padding-top: 17px;
    padding-left: 36px;
}
.block-content3-6 {
    width: 19px;
    height: 6px;
    background-color: #000000;
    position: absolute;
}
.block-content3-7 {
    width: 223.3px;
    height: 50px;
    background-color: #dcdcdc;
}
.block-content3-8 {
    width: 74px;
    height: 166px;
    background-color: #2f4f4f;
    float: left;
}
.block-content3-9 {
    float: left;
}
.block-content3-10 {
    width: 149.2px;
    height: 55.3px;
    background-color: #708090;
    float: left;
}
.block-content3-11 {
    width: 74.6px;
    height: 55.3px;
    background-color: #8a2be2;
    float: left;
}
.block-content3-12 {
    width: 74.6px;
    height: 55.3px;
    background-color: #fafad2;
    float: left;
}
.block-content3-13 {
    width: 149.2px;
    height: 55.3px;
    background-color: #dda0dd;
    float: left;
}
.footer {
    width: 670px;
    height: 100px;
    background-color: #696969;
    float: left;
}