@media screen and (max-width: 500px) {
    .box {
        font-size: 1em;
    }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
    .box {
        font-size: 2em;
    }
}
@media screen and (min-width: 800px) {
    .box {
        font-size: 3em;
    }
}