* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
.circle1{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: pink;
    position: absolute;
    animation-name: pink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.circle2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    animation-name: yellow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.circle3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    animation-name: blue;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.diamond{
    background: url(diamond-832926_960_720.png) no-repeat center center;
    width: 200px;
    height: 200px;
    background-size: 50%;
    position: absolute;
}
@keyframes pink {
    0%{
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    30%{
        transform: rotate(0deg) translateX(30px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(0px) rotate(360deg);
    }
}
@keyframes yellow {
    0%{
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    20%{
        transform: rotate(0deg) translateX(25px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(0px) rotate(360deg);
    }
}
@keyframes blue {
    0%{
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    40%{
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(0px) rotate(360deg);
    }
}