.task11 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
}
.task12 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 180px;
    top: 180px;
}
.task13 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 310px;
    top: 310px; 
}
.task2 {
    position: relative;
    top: 400px;
}
.task21 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
}
.task22 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 175px;
    top: 50px;
}
.task23 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 300px;
    top: 50px;
}
.task3 {
    position: relative;
    top: 600px;
}
.task31 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
}
.task32 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 100px;
    top: 100px;
}
.task33 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
}
.task4 {
    position: relative;
    top: 850px;
}
.task41 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
    background-color: pink;
}
.task42 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 100px;
    top: 100px;
    background-color: lightskyblue;
}
.task43 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
    background-color: lightgreen;
}
.task5 {
    position: relative;
    top: 1100px;
}
.task51 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
    background-color: pink;
}
.task53 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
    background-color: lightgreen;
}
.task52 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 100px;
    top: 100px;
    background-color: lightskyblue;
}
.task33 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
}
.task6 {
    position: relative;
    top: 1350px;
}
.task61 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
    background-color: pink;
}
.task62 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 100px;
    top: 100px;
    background-color: lightskyblue;
}
.task63 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
    background-color: lightgreen;
}
.task7 {
    position: relative;
    top: 1600px;
}
.task71 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 50px;
    top: 50px;
    background-color: pink;
}
.task72 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    left: 100px;
    top: 100px;
    background-color: lightskyblue;
}
.task73 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    left: 150px;
    top: 150px;
    background-color: lightgreen;
}
.task8 {
    position: relative;
    top: 1900px;
    height: 500px;
    width: 700px;
    border: 1px solid grey;
    margin: auto;
}
.task81 {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    left: 100px;
    top: 100px;
}
.task9 {
    position: relative;
    top: 2000px;
    height: 500px;
    width: 700px;
    border: 1px solid grey;
    margin: auto;
    background-color: lightgreen;
}
.task91 {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50px;
    top: 50px;
    background-color: white;
}
.task92 {
    position: absolute;
    height: 100px;
    width: 100px;
    right: 50px;
    bottom: 50px;
    background-color: white;
}
.task10 {
    position: relative;
    top: 2100px;
    height: 420px;
    width: 200px;
    border: 2px solid grey;
    margin: auto;
}
.task101 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: red;
    left: 25%;
    top: 50px;
}
.task102 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: yellow;
    left: 25%;
    top: 160px;
}
.task103 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: green;
    left: 25%;
    top: 270px;
}
.task110 {
    position: relative;
    top: 2200px;
    border-radius: 300px;
    height: 500px;
    width: 500px;
    border: 2px solid grey;
    background-color: lightgreen;
    margin: auto;
}
.task111 {
    position: absolute;
    position: relative;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: white;
    left: 125px;
    top: 75px;
}
.task112 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: white;
    right: 125px;
    top: 75px;
}
.task113 {
    position: absolute;
    height: 75px;
    width: 75px;
    border: 1px solid grey;
    background-color: white;
    left: 42.5%;
    top: 220px;
}
.task114 {
    position: absolute;
    height: 20px;
    width: 200px;
    border: 1px solid grey;
    background-color: white;
    left: 30%;
    top: 350px;
}
.task1111 {
    position: absolute;
    border-radius: 100px;
    background-color: blue;
    height: 35px;
    width: 35px;
    top: 40px;
    right: 10px;
}
.task1112 {
    position: absolute;
    border-radius: 100px;
    background-color: red;
    height: 35px;
    width: 35px;
    top: 40px;
    left: 10px;
}
.task120 {
    position: relative;
    top: 2300px;
    border-radius: 300px;
    height: 500px;
    width: 500px;
    border: 2px solid grey;
    background-color: lightgreen;
    margin: auto;
}
.task121 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: white;
    left: 125px;
    top: 75px;
}
.task122 {
    position: absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: white;
    right: 125px;
    top: 75px;
}
.task123 {
    position: absolute;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    border: 1px solid grey;
    background-color: white;
    left: 42.5%;
    top: 240px;
}
.task124 {
    position: absolute;
    border-radius: 300px;
    height: 250px;
    width: 250px;
    background-color: white;
    left: 25%;
    bottom: 50px;
}
.task125 {
    position: absolute;
    border-radius: 300px;
    height: 300px;
    width: 300px;
    background-color: lightgreen;
    left: 20%;
    bottom: 80px;
}
.task130 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.task131 {
    width: 600px;
    height: 100%;
    border:  1px;
    border: 1px solid violet;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding: 30px;
    margin: 50px;
}
.task132 {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.task140 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.task141 {
    width: 600px;
    height: 100%;
    border:  1px;
    border: 1px solid violet;
    padding: 30px;
    margin: 50px;
}
.task142 {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    
}
.block {
}
.learn {
    position: absolute;
    width: 100%;
    height: 500px;
    background: lightblue;
    opacity: 0.5;
    top: 900px;
}
.learn-block {
    position: relative;
    padding: 50px;
}